@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: darksalmon;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
h1{
    font-size: 1.2rem;
    margin-bottom: 50px
}
button{
    padding: 15px 20px;
    outline: none;
    border: none;
    background: skyblue;
    transition: .3s;
}
button:hover{
    background: transparent;
    border: 3px solid skyblue;
    box-shadow: 0 0 5px 3px skyblue;
    transition: .3s;
}
